<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>ID Indirizzo</th>
                <th>ID Contatto</th>
                <th>Contatto</th>
                <th>Tipologia Indirizzo</th>
                <th>Nazione</th>
                <th>Cittadinanza</th>
                <th>Provincia</th>
                <th>Città</th>
                <th>CAP</th>
                <th>Indirizzo</th>
                <th>Civico</th>
                <th>Altro</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let indirizzo of dati">
                <td>{{ indirizzo.idIndirizzo }}</td>
                <td>{{ indirizzo.idContatto }}</td>
                <td>{{ getContattoName(indirizzo.idContatto) }}</td>
                <td>{{ getTipologiaNome(indirizzo.idTipologiaIndirizzo) }}</td>
                <td>{{ indirizzo.nazione }}</td>
                <td>{{ indirizzo.cittadinanza }}</td>
                <td>{{ indirizzo.provincia }}</td>
                <td>{{ indirizzo.citta }}</td>
                <td>{{ indirizzo.cap }}</td>
                <td>{{ indirizzo.indirizzo }}</td>
                <td>{{ indirizzo.civico }}</td>
                <td>{{ indirizzo.altro }}</td>
                <td>
                    <i class="fas fa-edit mx-2" (click)="editIndirizzo(indirizzo)"></i>
                    <i class="fas fa-trash" (click)="deleteIndirizzo(indirizzo.idIndirizzo)"></i>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>ID Indirizzo</th>
                <th>ID Contatto</th>
                <th>Contatto</th>
                <th>Tipologia Indirizzo</th>
                <th>Nazione</th>
                <th>Cittadinanza</th>
                <th>Provincia</th>
                <th>Città</th>
                <th>CAP</th>
                <th>Indirizzo</th>
                <th>Civico</th>
                <th>Altro</th>
                <th>Actions</th>
            </tr>
        </tfoot>
    </table>
</div>