<div *ngIf="isFormVisible" class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Modifica Credito</h2> <!-- Updated title -->
            <form>
                <div class="mb-3">
                    <label for="idContatto" class="form-label">ID Contatto</label>
                    <input type="number" id="idContatto" class="form-control" [value]="credito?.idContatto" readonly>
                    <!-- Display ID Contatto as read-only -->
                </div>

                <div class="mb-3">
                    <label for="newCredito" class="form-label">Nuovo Credito</label>
                    <input type="number" id="newCredito" class="form-control"
                        placeholder="Inserisci nuovo importo credito" [(ngModel)]="newCredito" name="newCredito"
                        required> <!-- Changed to newCredito -->
                </div>

                <div class="text-center">
                    <button class="btn mb-5" type="button" (click)="credito && modificaValore( 
                                        credito.idCredito, 
                                        newCredito
                                    )">Modifica Credito</button>
                    <!-- Changed from Modifica Tipo Recapito to Modifica Credito -->
                </div>
            </form>
        </div>
    </div>
</div>