<div class="container d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-center mt-5">Gestione Profili</h1>
    <!-- Changed from Gestione Tipologie Indirizzi to Gestione Profili -->
    <app-lista-profili-utente (profiloSelected)="handleProfiloSelected($event)"></app-lista-profili-utente>
    <!-- Changed from app-lista-tipologieIndirizzi to app-lista-profili -->

    <div class="button-container my-3">
        <button class="btn custom-btn mx-2" (click)="displayComponent('aggiungi')">Aggiungi Profilo</button>
        <!-- Changed from Aggiungi Tipologia Indirizzo to Aggiungi Profilo -->
    </div>

    <hr>

    <app-aggiungi-profili-utente *ngIf="showAggiungi"></app-aggiungi-profili-utente>
    <!-- Changed from app-aggiungi-tipologieIndirizzi to app-aggiungi-profili -->

    <app-modifica-profili-utente *ngIf="showModifica" [profilo]="selectedProfilo"></app-modifica-profili-utente>
    <!-- Changed from app-modifica-tipologieIndirizzi to app-modifica-profili and tipologia to profilo -->

    <app-cancella-profili-utente *ngIf="showCancella" [profilo]="selectedProfilo"></app-cancella-profili-utente>
    <!-- Changed from app-cancella-tipologieIndirizzi to app-cancella-profili -->
</div>