<ng-container *ngIf="(auth | async)?.tk === null">
    <div class="parent-container d-flex justify-content-center align-items-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <div class="card custom-margin" style="margin-bottom: 50px;">
                <div class="card-body">
                    <h5 class="card-title text-center">Login</h5>
                    <form name="formLogin" [formGroup]="reactiveForm" (ngSubmit)="accedi()">
                        <div class="mb-3">
                            <label for="utente" class="form-label"
                                [ngClass]="{'is-invalid': reactiveForm.controls['utente'].errors}">Utente</label>
                            <input type="text" name="utente" id="utente" formControlName="utente" class="form-control"
                                [ngClass]="{'is-invalid': reactiveForm.controls['utente'].errors}">
                            <div *ngIf="reactiveForm.controls['utente'].errors" class="invalid-feedback">
                                Please provide a valid username.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label"
                                [ngClass]="{'is-invalid': reactiveForm.controls['password'].errors}">Password</label>
                            <div class="input-group">
                                <input type="password" name="password" id="password" formControlName="password"
                                    class="form-control"
                                    [ngClass]="{'is-invalid': reactiveForm.controls['password'].errors}"
                                    [type]="passwordVisible ? 'text' : 'password'">
                                <span class="input-group-text" (click)="togglePasswordVisibility()"
                                    style="cursor: pointer;">
                                    <i class="fa" [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
                                </span>
                            </div>
                            <div *ngIf="reactiveForm.controls['password'].errors" class="invalid-feedback">
                                Please provide a valid password.
                            </div>
                        </div>
                        <div *ngIf="errorMessage" class="alert alert-danger">
                            {{ errorMessage }}
                        </div>
                        <button type="submit" class="btn btn-primary w-100" [disabled]="!reactiveForm.valid">
                            Accedi
                            <div class="spinner-border text-light" role="status" *ngIf="stoControllando">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-container>