<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h2 class="text-center mb-4">Cancella Indirizzo</h2>
            <!-- Changed from Cancella Tipologia Indirizzo to Cancella Indirizzo -->
            <div class="input-group mb-3">
                <select class="form-control" [(ngModel)]="idRisorsaCancella" name="idRisorsaCancella" required>
                    <option value="" disabled selected>Seleziona un indirizzo da cancellare</option>
                    <!-- Changed from tipologia to indirizzo -->
                    <option *ngFor="let indirizzo of dati" [value]="indirizzo.idIndirizzo">
                        <!-- Changed from tipologia to indirizzo -->
                        {{ indirizzo.idIndirizzo }} | {{ indirizzo.indirizzo }}
                        <!-- Changed from tipologia.nome to indirizzo.indirizzo -->
                    </option>
                </select>
            </div>
            <div class="text-center">
                <button class="btn btn-primary mb-5" type="button" id="button-addon2"
                    (click)="cancellaValore(idRisorsaCancella)">Cancella Indirizzo</button>
                <!-- Changed from Cancella Tipologia Indirizzo to Cancella Indirizzo -->
            </div>
        </div>
    </div>
</div>