<div class="modal fade" id="episodesModal" tabindex="-1" aria-labelledby="episodesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="episodesModalLabel">Episodi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <ng-container *ngFor="let episodio of selectedEpisodi">
                        <div class="col-6 col-md-4 col-lg-3 mb-3">
                            <div class="p-1 position-relative" style="position: relative;">
                                <button (click)="openFullscreen(episodio)"> <!-- Pass the entire episodio object -->
                                    <p class="text-left m-0" style="color: black; padding: 5px;">
                                        Episodio {{episodio.NumeroEpisodio}} <!-- Display the episode number -->
                                    </p>
                                </button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>