<div *ngIf="isFormVisible" class="container mt-5">
    <div class="row">
        <div class="col-12 mx-auto">
            <h2 class="text-center mb-4">Aggiungi Credito</h2>
            <form (ngSubmit)="aggiungiValore()" #creditoForm="ngForm">
                <div class="mb-3">
                    <label for="idContatto" class="form-label">ID Contatto</label>
                    <input type="number" id="idContatto" class="form-control" [(ngModel)]="newIdContatto"
                        name="idContatto" required readonly>
                    <div *ngIf="creditoForm.controls['idContatto']?.invalid && creditoForm.controls['idContatto']?.touched"
                        class="text-danger">
                        ID Contatto è richiesto.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="credito" class="form-label">Credito</label>
                    <input type="number" id="credito" class="form-control" placeholder="Inserisci importo credito"
                        [(ngModel)]="newCredito" name="credito" required min="0">
                    <div *ngIf="creditoForm.controls['credito']?.invalid && creditoForm.controls['credito']?.touched"
                        class="text-danger">
                        Importo credito è richiesto e deve essere un numero positivo.
                    </div>
                </div>

                <div class="text-center">
                    <button class="btn custom-btn mb-5" type="submit" [disabled]="creditoForm.invalid">Aggiungi
                        Credito</button>
                </div>
            </form>
        </div>
    </div>
</div>