<div class="container d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-center mt-5">Gestione Recapiti</h1> <!-- Updated title -->
    <app-lista-recapiti-utente (recapitoSelected)="handleRecapitoSelected($event)"></app-lista-recapiti-utente>
    <!-- Changed from app-lista-tipoRecapito to app-lista-recapiti -->

    <div class="button-container my-3">
        <button class="btn custom-btn mx-2" (click)="displayComponent('aggiungi')">Aggiungi Recapito</button>
        <!-- Changed from Aggiungi Tipo Recapito to Aggiungi Recapito -->
    </div>

    <hr>

    <app-aggiungi-recapiti-utente *ngIf="showAggiungi"></app-aggiungi-recapiti-utente>
    <!-- Changed from app-aggiungi-tipoRecapito to app-aggiungi-recapito -->

    <app-modifica-recapiti-utente *ngIf="showModifica" [recapito]="selectedRecapito"></app-modifica-recapiti-utente>
    <!-- Changed from app-modifica-tipoRecapito to app-modifica-recapito -->

    <app-cancella-recapiti-utente *ngIf="showCancella" [recapito]="selectedRecapito"></app-cancella-recapiti-utente>
    <!-- Changed from app-cancella-tipoRecapito to app-cancella-recapito -->
</div>